.qrcode {
    width: 80%;
    max-width: 400px;
    height: auto;
}

.link {
    overflow-x: auto;
    font-size: 20px;
}

main {
    overflow-x: hidden;
}

.main-class {
    padding-top: 0px;
    padding-bottom: 0px;
}

.header-class {
    padding-bottom: 0px;
}